# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Code Editors
/.idea
/.vscode
/*.csproj
/*.sln
*.swp
*.vcxproj.user

# Unity
/Library
/Logs
/Temp
/UserSettings
Assets/KinectDemos/AvatarsDemo/U_Character/U_Char_Eye_DIF.psd
Assets/KinectDemos/AvatarsDemo/U_Character/U_Char_Eye_DIF.psd.meta
Assets/KinectDemos/AvatarsDemo/U_Character/U_Character_Body-DIF.psd
Assets/KinectDemos/AvatarsDemo/U_Character/U_Character_Body-DIF.psd.meta
Assets/KinectDemos/AvatarsDemo/U_Character/U_Character_Body-NM.png
Assets/KinectDemos/AvatarsDemo/U_Character/U_Character_Body-NM.png.meta
Assets/KinectDemos/AvatarsDemo/U_Character/U_Character_Head-DIF.psd
Assets/KinectDemos/AvatarsDemo/U_Character/U_Character_Head-DIF.psd.meta
Assets/Resources/NuiDatabase.zip.bytes
Assets/Resources/NuiDatabase.zip.bytes.meta
Assets/OBY/Video/bg.mp4
Assets/OBY/Video/bg.mp4.meta
